.LayoutSelector {
  label {
    display: block;
    font-size: 1.5em;
    padding: 10px 0;
    font-weight: bold;
  }

  select {
    display: block;
    font-size: 1.2em;
    border: 2px solid gray;
    background: gray;
    color: #fff;
    padding: 5px 10px;
    width: 100%;

    option {
      color: #fff;
      background: gray;
    }
  }
  
  padding-bottom: 20px;
  border-bottom: 2px solid silver;
}
