.MenuItem {
  border-bottom: 2px solid gray;

  display: flex;
  align-items: stretch;
  flex-direction: column;

  .MenuHeader {
    display: flex;
    flex: 1 1 auto;

    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;  
    
    width: 100%;
    padding: 10px 0;

    >span {
      margin-right: 10px;
    }
  }

  .MenuContent {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
  }

}
