.Menu {
  position: fixed;
  width: 250px;
  height: 100%;
  
  background: rgba(0,0,0,0.6);
  padding: 0 10px;
  font-size: 1em;

  overflow-x: hidden;
  overflow-y: auto;

  .toggle-menu {
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    bottom: 0;
    z-index: 100;
    cursor: pointer;
    font-size: 2em;
    padding: 0 10px;
  }

  &.left {
    top: 0;
    left: 0;
    width: 250px;
    border-right: 2px solid silver;

    .toggle-menu {
      bottom: 40px;
      left: 273px;
    }

    &.hidden {
      left: -273px;

      .toggle-menu {
        left: 0;
      }
    }
  }

  &.right {
    width: 160px;
    top: 0;
    right: 0;
    border-left: 2px solid silver;

    .toggle-menu {
      right: 182px;
    }

    &.hidden {
      right: -182px;

      .toggle-menu {
        right: 0;
      }
    }
  }

  .MenuItem {
    border-bottom: 2px solid silver;
  }

  >div:last-child {
    .MenuItem {
      border-bottom: none;
    }
  }
}

/* Overrides for Combinations */

.Menu {
  &.right {
    .MenuHeader {
      position: fixed;
      top: 0;
      right: 0;
      width: 180px;
      background-color: rgba(0,0,0,0.6);
      justify-content: center;
    }

    .MenuContent {
      padding-top: 40px;
    }

    &.hidden {
      .MenuHeader {
        right: -182px;
      }
    }
  }
}

.Menu, 
.toggle-menu,
.Menu.right .MenuHeader,
.LanguageSelector {
  transition: left 0.5s, right 0.5s;
}