.SizeSelector {
  ul {
    list-style: none;
    padding-left: 10px;

    li {
      font-size: 1.2em;
      display: flex;
      align-items: center;
      margin: 3px 0;
    }

    label {
      width: 80px;
    }

    input {
      font-size: 0.8em;
      border: 2px solid gray;
      background: gray;
      color: #fff;
      padding: 5px 0;
      width: 60px;
      text-align: right;
    }
  }
}
