.ColorPicker {
  font-size: 1em;
  width: 100%;

  .color-button {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    cursor: pointer;

    i {
      flex: 1 0 auto;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    label {
      flex: 1 1 100%;
      cursor: pointer;
      color: #fff;
    }

    &:hover {
      background-color: silver;
    }

    &.active {
      background-color: rgba(255,255,255, 0.8);
      label {
        color: #000;
      }
    }
  }

  .picker {
    position: relative;
    display: flex;
    padding: 10px;
    padding-bottom: 30px;
    background-color: rgba(255,255,255, 0.8);
    flex-wrap: wrap;
    justify-content: space-between;

    .color-circle {
      flex: 0 1 auto;
      width: 8px;
      height: 8px;
      cursor: pointer;
      margin: 5px;
      padding: 10px;
      border-radius: 50%;
      border: 2px solid transparent;

      &:hover, &.active {
        border: 2px solid black;
      }
    }

    .material {
      color: #666;
      font-style: italic;
      font-size: 0.7em;

      position: absolute;
      right: 10px;
      bottom: 0;
    }
  }
}
