.ColorPicker {
  font-size: 1em;
  width: 100%;

  .color-button {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    cursor: pointer;

    i {
      flex: 1 0 auto;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    label {
      flex: 1 1 100%;
      cursor: pointer;
      color: #fff;
    }

    &:hover {
      background-color: silver;
    }

    &.active {
      background-color: #fdfdfd;
      label {
        color: #000;
      }
    }
  }

  .picker {
    display: flex;
    padding: 10px;
    background-color: #fdfdfd;
  }
}
