@import url('https://fonts.googleapis.com/css?family=Play');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.3);
  outline: 1px solid rgba(255,255,255,0.3);
}

body {
  font-family: Monospace;
  background-color: #000;
  color: #fff;
  margin: 0px;
  overflow: hidden;
  font-size: 12px;
}

body, input, select {
  font-family: 'Play', sans-serif;
}

.fata-error {
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
}